mixin inventory-view(spine)
  .inventory--view
    +fabula-heading-view('inventory', spine.inventory.heading)
    .chimera-wrapper
      .item__ip
        +chimera-value({ name: 'ip', label: 'IP', title: 'Inventory Points' })
      .item__money
        +chimera-value({ name: 'money_name'})
        +chimera-input(spine.backpack.money)
        +chimera-icon({ icon: 'coins' })
      .item__table
        each header in spine.inventory.table
          label.chimera-value__label(data-i18n=header.name)= header.label
        each field in spine.inventory.stock
          +chimera-action(field)
            +chimera-icon({ icon: field.icon })
            .chimera-value(class=field.css.names)
              label.chimera-value__label(data-i18n=field.name)= field.label
          .chimera-value.chimera-value--center
            span.chimera-value__value= field.cost
          .chimera-value
            span.chimera-value__value(data-i18n=`${field.name}_effect`)= field.title
    +chimera-repeater-simple('inventory')
      .item__table--repeating
        - const item = fieldDictionary(spine.inventory.view, 'inventory');
        +chimera-action(item.name)
          +chimera-value(item.name)
        +chimera-value(item.cost)
        +chimera-value(item.effect)

mixin inventory-edit(spine)
  .inventory
    +fabula-heading-edit('inventory', spine.inventory.heading)
    +chimera-repeater('inventory')
      +chimera-block('delete')
        .item
          - const [name] = spine.inventory.delete;
          +chimera-value(name)

      +chimera-block('edit')
        .item
          each field in spine.inventory.hidden
            +chimera-hidden(field)
          each field in spine.inventory.repeating
            +chimera-input(field)

mixin projects-view(spine)
  +chimera-hidden('projects_empty').chimera-repeater--empty-hide-next
  .projects
    +fabula-heading-view('projects', spine.projects.heading)
    +chimera-repeater('projects')
      +chimera-block('view')
        .project
          - const project = fieldDictionary(spine.projects.view, 'project');
          +chimera-value(project.name)

          +chimera-arithmetic-block(project.clock)
            .project__clock-progress
              +chimera-value(project.clock)
              span /
              +chimera-value(project.clock_max)

          +chimera-value(project.cost)
          +send-to-chat('project')
          +chimera-value(project.special)

mixin projects-edit(spine)
  .projects
    +fabula-heading-edit('projects', spine.projects.heading)
    +chimera-repeater('projects')
      +chimera-block('delete')
        .project
          - const [name] = spine.projects.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .project
          each field in spine.projects.hidden
            +chimera-hidden(field)
          each field in spine.projects.fields
            +chimera-input(field)

mixin items-view(spine)
  +chimera-hidden('items_empty').chimera-repeater--empty-hide-next
  .items
    +fabula-heading-view('items', spine.items.heading)
    +chimera-repeater('items')
      +chimera-block('view')
        .item
          - const item = fieldDictionary(spine.items.view, 'item');
          +chimera-value(item.name)
          +send-to-chat('item')
          +chimera-value(item.effect)

mixin items-edit(spine)
  .items
    +fabula-heading-edit('items', spine.items.heading)
    +chimera-repeater('items')
      +chimera-block('delete')
        .item
          - const [name] = spine.items.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .item
          each field in spine.items.hidden
            +chimera-hidden(field)
          each field in spine.items.fields
            +chimera-input(field)
