mixin rollheader
  .sheet-roll-header
    +tags(['avatar'])
      .sheet-avatar [avatar]({{ avatar }})
    .sheet-character-name
      span {{ character }}
    .sheet-roll-type
      span {{ action }}

rolltemplate.sheet-rolltemplate-fabula-attack
  .sheet-roll(class=`sheet-{{${'sheet_type'}}}`)
    +rollheader
    +rollFunctions([`^rollTotal() computed::critical 0`])
      +rollFunctions([`rollGreater() computed::critical 0`])
        .sheet-critical-success
          span.sheet-fabula-important(data-i18n='is_critical') Critical Success!
      +rollFunctions([`rollLess() computed::critical 0`])
        .sheet-critical-fumble
          span.sheet-fabula-important(data-i18n='is_fumble') Critical Fumble!

    .sheet-header
      - const icons = ['melee', 'distance', 'spell', 'elixir', 'remedy', 'tonic', 'elementalshard', 'magictent'];
      each tag in icons
        +tags([tag])
          img(src=assets[tag].src)

      span.sheet-fabula-label {{ name }}

    +tags(['^noaction'])
      .sheet-action
        div
          span.sheet-fabula-label {{ check }}
          span.sheet-fabula-span {{ roll }}

        +tags(['damage'])
          div
            span.span.sheet-fabula-label {{ hr }}
            span.sheet-fabula-span {{ computed::damage }}
            span.sheet-fabula-diamond ⬥
            span.sheet-fabula-span {{ type }}

        // TODO Vunerable and Resistance calculations
        // preferrably shown by hover or something?

    .sheet-details
      +tags(['potency'])
        div
          span.sheet-fabula-label(data-i18n='potency') Potency
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ potency }}
      +tags(['area'])
        div
          span.sheet-fabula-label(data-i18n='area') Area
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ area }}

      +tags(['mp'])
        div
          span.sheet-fabula-span {{ mp }}
          span.sheet-fabula-label(data-i18n='mp') MP
      +tags(['target'])
        div
          span.sheet-fabula-label(data-i18n='target') Target
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ target }}
      +tags(['duration'])
        div
          span.sheet-fabula-label(data-i18n='duration') Duration
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ duration }}

      +tags(['effect'])
        span.sheet-fabula-span {{ effect }}

      +tags(['special'])
        span.sheet-fabula-span {{ special }}

rolltemplate.sheet-rolltemplate-fabula-chat
  .sheet-roll(class=`sheet-{{${'sheet_type'}}}`)
    +rollheader

    +tags(['name'])
      .sheet-header
        - const icons = ['melee', 'distance', 'spell', 'elixir', 'remedy', 'tonic', 'elementalshard', 'magictent'];
        each tag in icons
          +tags([tag])
            img(src=assets[tag].src)

        span.sheet-fabula-label {{ name }}
        +tags(['level'])
          span.sheet-fabula-span {{ level }}

        +tags(['martial'])
          span.sheet-fabula-diamond ✦

    +tags(['study'])
      .sheet-header.sheet-space-around
        +tags(['rank', 'species'])
          span.sheet-fabula-span {{ rank }}
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ species }}

        +tags(['hp_max', 'mp_max'])
          span.sheet-fabula-diamond ⬥

          .sheet-hp
            span.sheet-fabula-span {{ hp_max }}
            span.sheet-fabula-label(data-i18n='hp_max') HP

          span.sheet-fabula-diamond ⬥

          .sheet-mp
            span.sheet-fabula-span {{ mp_max }}
            span.sheet-fabula-label(data-i18n='mp_max') MP

    +tags(['dexterity', 'insight', 'might', 'willpower'])
      .sheet-details
        .sheet-attributes.sheet-space-around
          each field, index in attributeOptions
            if (index > 0)
              span.sheet-fabula-diamond ⬥
            .sheet-attribute
              span.sheet-fabula-label(data-i18n=field.name)= field.text
              span.sheet-fabula-span {{ #{ field.name } }}

    .sheet-details.sheet-flex
      each field in damageTypeOptions
        +tags([field.name])
          .sheet-affinity
            +chimera-icon({ icon: field.name, title: field.text + ' Affinity' })
            span.sheet-fabula-label.sheet-sr-only(data-i18n=field.name)= field.text
            span.sheet-fabula-span.sheet-uppercase {{ #{ field.name } }}

    .sheet-details
      +tags(['accuracy'])
        div
          span.sheet-fabula-label {{ accuracy }}
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-label {{ damage }}
          span.sheet-fabula-diamond ⬥
          span.sheet-fabula-span {{ type }}

      +tags(['def', 'mdef'])
        div
          span.sheet-fabula-label(data-i18n='defense') DEF
          span.sheet-fabula-span {{ def }}

        div
          span.sheet-fabula-label(data-i18n='magic_defense') M.DEF
          span.sheet-fabula-span {{ mdef }}

      +tags(['category', 'hands'])
        div
          span.sheet-fabula-span {{ category }}
          span.sheet-fabula-span(data-i18n='{{ hands }}-handed') X-Handed

      +tags(['init'])
        div
          span.sheet-fabula-label(data-i18n='init') Init.
          span.sheet-fabula-span {{ init }}
      +tags(['cost'])
        div
          span.sheet-fabula-label(data-i18n='cost') Cost
          span.sheet-fabula-span {{ cost }}

      +tags(['traits'])
        div
          span.sheet-fabula-label(data-i18n='traits') Traits
          span.sheet-fabula-span {{ traits }}

      +tags(['bond'])
        .sheet-bonds
          each emotion in ['approval', 'allegiance', 'fondness']
            +tags([emotion])
              span.sheet-fabula-span {{ #{ emotion } }}

      +tags(['effect'])
        span.sheet-fabula-span {{ effect }}
      +tags(['special'])
        span.sheet-fabula-span {{ special }}

    //- STUDY ROLL
    .sheet-details
      +tags(['basicattacks'])
        .sheet-detail-banner
          span.sheet-fabula-important(data-i18n='basic_attacks') Basic Attacks
        span.sheet-fabula-span ...
      +tags(['spells'])
        .sheet-detail-banner
          span.sheet-fabula-important(data-i18n='spells') Spells
        span.sheet-fabula-span ...
