-
  spine.character.bonds = {
    hidden: [1, 2, 3, 4, 5, 6].map((bond) => `bond${bond}_level`),
    heading: { name: 'bonds', label: 'Bonds' },
    view: [1, 2, 3, 4, 5, 6].map((bond) => [
      {
        name: `bond${bond}_name`,
        css: { names: ['bond__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: `bond${bond}_approval`,
        //- labelOverride: { key: `bond_approval`, label: 'Emotion' },
        dynamic: true,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
      {
        name: `bond${bond}_allegiance`,
        //- labelOverride: { key: `bond_allegiance`, label: 'Emotion' },
        dynamic: true,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
      {
        name: `bond${bond}_fondness`,
        //- labelOverride: { key: `bond_fondness`, label: 'Emotion' },
        dynamic: true,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
    ]),
    fields: [1, 2, 3, 4, 5, 6].map((bond) => [
      {
        name: `bond${bond}_level`,
        type: 'hidden',
        value: 0,
        css: { names: ['bond__level'], modifiers: [] },
      },
      {
        name: `bond${bond}_name`,
        labelOverride: { key: `bond_name`, label: 'Bond Name' },
        type: 'text',
        css: { names: ['bond__name'], modifiers: [] },
      },
      {
        name: `bond${bond}_approval`,
        labelOverride: { key: `bond_approval`, label: 'Approval' },
        type: 'select',
        options: bondApprovalOptions,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
      {
        name: `bond${bond}_allegiance`,
        labelOverride: { key: `bond_allegiance`, label: 'Allegiance' },
        type: 'select',
        options: bondAllegianceOptions,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
      {
        name: `bond${bond}_fondness`,
        labelOverride: { key: `bond_fondness`, label: 'Fondness' },
        type: 'select',
        options: bondFondnessOptions,
        css: { names: ['bond__emotion'], modifiers: ['center'] }
      },
      {
        name: `bond${bond}_description`,
        labelOverride: { key: `bond_description`, label: 'Description' },
        type: 'textarea',
        css: { names: ['bond__description'], modifiers: [] }
      },
    ]),
  }
