-
  spine.character.classes = {
    heading: { name: 'classes', label: 'Classes' },
    hidden: ['character_level', 'class_hide', 'class_skills_taken', 'class_benefit'],
    view: [
      {
        name: 'class_hide',
        label: 'Hide Class',
        type: 'toggle',
        icon: 'expand',
        iconOff: 'collapse',
        css: { names: ['class__hide'], modifiers: ['hide-label', 'tiny'] },
      },
      {
        name: 'class_name',
        css: { names: ['class__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'class_level',
        labelOverride: { key: 'lv', label: 'Lv' },
        css: { names: ['class__level'], modifiers: [] },
      },
      {
        name: 'class_skills_taken',
        css: { names: ['class__skills_taken'], modifiers: ['hide-label'] },
      },
      {
        name: 'class_benefit',
        css: { names: ['class__benefit'], modifiers: ['center'] },
      },
      {
        name: 'class_description',
        css: { names: ['class__description'], modifiers: [] },
      },
    ],
    view_skills: [1, 2, 3, 4, 5].map((skill) => [
      {
        name: `class_skill${skill}_hide`,
        labelOverride: { key: 'class_skill_hide', label: 'Hide Class Skill' },
        type: 'toggle',
        icon: 'expand',
        iconOff: 'collapse',
        css: { names: ['class__skill_hide'], modifiers: ['hide-label', 'tiny'] },
      },
      {
        name: `class_skill${skill}_name`,
        css: { names: ['class__skill_name'], modifiers: ['no-label-bold'] },
      },
      {
        name: `class_skill${skill}_level`,
        label: 'SL',
        title: 'Skill Level',
        css: { names: ['class__skill_level'], modifiers: ['small', 'center'] },
      },
      {
        name: `class_skill${skill}_description`,
        css: { names: ['class__skill_description'], modifiers: [] },
      },
    ]),
    delete: [
      {
        name: 'class_name',
        css: { names: ['class__name'], modifiers: [] },
      },
      {
        name: 'class_level',
        css: { names: ['class__level'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'class_hide',
        label: 'Hide',
        type: 'toggle',
        icon: 'expand',
        iconOff: 'collapse',
        css: { names: ['class__hide'], modifiers: ['hide-label', 'tiny'] },
      },
      {
        name: 'class_name',
        label: 'Name',
        type: 'span',
        css: { names: ['class__name--view'], modifiers: [] },
      },
      {
        name: 'class_name',
        label: 'Name',
        type: 'text',
        css: { names: ['class__name'], modifiers: [] },
      },
      {
        name: 'class_level',
        label: 'Level',
        type: 'span',
        value: 0,
        css: { names: ['class__level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'class_special',
        label: 'Special',
        type: 'text',
        css: { names: ['class__special'], modifiers: [] },
      },
      {
        name: 'class_skills_taken',
        label: 'Skills Taken',
        type: 'span',
        css: { names: ['class__skills_taken'], modifiers: ['hide-label'] },
      },
      {
        name: 'class_benefit',
        label: 'Free Benefit',
        type: 'select',
        options: freeBenefitOptions,
        value: 'hp',
        css: { names: ['class__benefit'], modifiers: ['center'] },
      },
      {
        name: 'class_martialmelee',
        label: 'Martial Melee',
        type: 'checkbox',
        icon: 'martial',
        css: { names: ['class__martialmelee'], modifiers: ['column-reverse'] },
      },
      {
        name: 'class_martialranged',
        label: 'Martial Ranged',
        type: 'checkbox',
        icon: 'martial',
        css: { names: ['class__martialranged'], modifiers: ['column-reverse'] },
      },
      {
        name: 'class_martialarmor',
        label: 'Martial Armor',
        type: 'checkbox',
        icon: 'martial',
        css: { names: ['class__martialarmor'], modifiers: ['column-reverse'] },
      },
      {
        name: 'class_martialshield',
        label: 'Martial Shield',
        type: 'checkbox',
        icon: 'martial',
        css: { names: ['class__martialshield'], modifiers: ['column-reverse'] },
      },
      {
        name: 'class_description',
        label: 'Description',
        type: 'textarea',
        css: { names: ['class__description'], modifiers: [] },
      },
    ],
    skills: [1, 2, 3, 4, 5].map((skill) => [
      //- {
      //-   name: `class_skill${skill}_hide`,
      //-   label: 'Hide',
      //-   type: 'checkbox',
      //-   css: { names: ['class__skill_hide'], modifiers: ['column-reverse'] },
      //- },
      {
        name: `class_skill${skill}_name`,
        label: 'Skill Name',
        type: 'text',
        css: { names: ['class__skill_name'], modifiers: [] },
      },
      {
        name: `class_skill${skill}_level`,
        label: 'SL',
        title: 'Skill Level',
        type: 'number',
        min: 0,
        value: 0,
        css: { names: ['class__skill_level'], modifiers: ['small', 'center'] },
      },
      //- {
      //-   name: `class_skill${skill}_modifiers`,
      //-   label: 'Modifiers',
      //-   type: 'text',
      //-   css: { names: ['class__skill_modifiers'], modifiers: [] },
      //- },
      {
        name: `class_skill${skill}_description`,
        label: 'Description',
        type: 'textarea',
        css: { names: ['class__skill_description'], modifiers: [] },
      },
    ]),
    heroic: [
      {
        name: `class_heroic_skill_name`,
        label: 'Heroic Skill',
        type: 'text',
        css: { names: ['class__skill_name'], modifiers: [] },
      },
      {
        name: `class_heroic_skill_description`,
        label: 'Description',
        type: 'textarea',
        css: { names: ['class__skill_description'], modifiers: [] },
      },
    ]
  };

  spine.character.classfeatures = {
    heading: { name: 'features', label: 'Class Features' },
    hidden: ['feature_hide'],
    view: [
      {
        name: 'feature_hide',
        label: 'Hide',
        type: 'toggle',
        icon: 'expand',
        iconOff: 'collapse',
        css: { names: ['feature__hide'], modifiers: ['hide-label', 'tiny'] },
      },
      {
        name: 'feature_name',
        css: { names: ['feature__name'], modifiers: [] },
      },
      {
        name: 'feature_class',
        css: { names: ['feature__class'], modifiers: [] },
      },
      {
        name: 'feature_detail1',
        css: { names: ['feature__detail1'], modifiers: [] },
      },
      {
        name: 'feature_detail2',
        css: { names: ['feature__detail2'], modifiers: [] },
      },
      {
        name: 'feature_detail3',
        css: { names: ['feature__detail3'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'feature_name',
        css: { names: ['feature__name'], modifiers: [] },
      },
    ],
    fields: [
      //- {
      //-   name: 'feature_hide',
      //-   label: 'Hide',
      //-   type: 'toggle',
      //-   icon: 'expand',
      //-   iconOff: 'collapse',
      //-   css: { names: ['feature__hide'], modifiers: ['hide-label', 'tiny'] },
      //- },
      {
        name: 'feature_name',
        label: 'Class Feature',
        type: 'text',
        css: { names: ['feature__name'], modifiers: [] },
      },
      {
        name: 'feature_class',
        label: 'Class',
        type: 'text',
        css: { names: ['feature__class'], modifiers: [] },
      },
      {
        name: 'feature_detail1',
        label: 'Feature 1',
        type: 'textarea',
        css: { names: ['feature__detail1'], modifiers: [] },
      },
      {
        name: 'feature_detail2',
        label: 'Feature 2',
        type: 'textarea',
        css: { names: ['feature__detail2'], modifiers: [] },
      },
      {
        name: 'feature_detail3',
        label: 'Feature 3',
        type: 'textarea',
        css: { names: ['feature__detail3'], modifiers: [] },
      },
    ],
  }
