mixin fabula-check(att1, att2, accuracy, damage)
  .fabula-check
    .fabula-check__accuracy
      span.fabula-bracket--open 【
      +chimera-span(att1)
      span +
      +chimera-span(att2)
      span.fabula-bracket--closed 】

      if accuracy
        +chimera-hidden(accuracy.name, 0)
        .fabula-check__accuracy--mod
          span +
          +chimera-span(accuracy)

    if damage
      +fabula-diamond
      .fabula-check__damage
        span.fabula-bracket--open 【
        span(data-i18n='hr') HR
        span +
        +chimera-span(damage)
        span.fabula-bracket--closed 】

mixin fabula-diamond(modifiers=[])
  -
    const css = modifiers.length ?
      Object.assign([], modifiers).map((mod) => `fabula-diamond--${mod}`).join(' ') : ``;
  span.fabula-diamond(class=css) ⬥

mixin send-to-chat(attr, title)
  - const buttonTitle = title ?? 'Send to Chat';
  +chimera-action({ title: buttonTitle, name:`${attr}chat` }).send-to-chat
    +chimera-icon({ icon: 'chat' })
    span(data-i18n='send_to_chat') Send to Chat

mixin toggle-collapse(attr)
  - const css = { modifiers: ['hide-label', 'tiny'] };
  +chimera-toggle({ name: `${attr}_collapse`, label: `Toggle ${attr}`, icon: 'expand', iconOff: 'collapse', css: css })

mixin fabula-heading-view(attr, heading, toggle=true)
  h2(class=`${attr}__heading--view`)
    span(data-i18n=heading.name)= heading.label
    if (toggle)
      +toggle-collapse(attr)

mixin fabula-heading-edit(attr, heading, toggle=true)
  h2(class=`${attr}__heading--edit`)
    span(data-i18n=heading.name)= heading.label
    if (toggle)
      +toggle-collapse(attr)

mixin fabula-subheading-edit(attr, heading)
  h2(class=`${attr}__subheading--edit`)
    span(data-i18n=heading.name)= heading.label
