-
  const buildCSS = (args) => {
    const css = [args.block, ...args.names ?? []];
    if (args?.modifiers) {
      args.modifiers.forEach((mod) => css.push(`${args.block}--${mod}`))
    }
    return css;
  };

  const fieldDictionary = (fields, removePrefix='') => {
    return fields.reduce((memo, val) => {
      const key = removePrefix ? val.name.replace(`${removePrefix}_`, '') : val.name;
      memo[key] = structuredClone(val);
      return memo
    }, {});
  }

//- https://github.com/pugjs/pug/issues/1693#issuecomment-894801220
//- https://codepen.io/Vectorjon/pen/GRmYWjN
mixin chimera-block(key, marker=false)
  - global.my_blocks = global.my_blocks || {};
  if marker
    if global.my_blocks[key]
      - let temp = {};
      - temp[key] = global.my_blocks[key];
      - global.my_blocks[key] = null;
      - temp[key]();
    else
      block
  else
    - global.my_blocks[key] = this.block;

mixin chimera-layout(blob)
  //-

mixin chimera-switch(blob)
  .chimera-switch
    input(name=blob.attr, type='hidden')
    .chimera-switch__group
      each option in blob.options
        label.chimera-switch__label
          input(id=blob.name, name=blob.attr, type='radio', value=option.value)
          +chimera-icon({ icon: option.icon })
          span(data-i18n=option.value)= option.text

mixin chimera-toggle(blob)
  - const namespace = 'chimera-toggle';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const attr = `attr_${blob.name}`;
  - const iconOn = blob.icon ?? 'toggleOn';
  - const iconOff = blob.iconOff ?? 'toggleOff';
  - const blobTitle = blob.title ?? blob.label;
  label(class=css, data-i18n-title=`${blob.name}_title`, title=blobTitle)
    .chimera-toggle__field
      input(id=blob.name, name=attr, type='checkbox', value=blob.value)
      +chimera-icon({ name: blob.name, icon: iconOff, title: blob.title }).chimera-toggle--off
      +chimera-icon({ name: blob.name, icon: iconOn, title: blob.title }).chimera-toggle--on
    span.chimera-toggle__label(data-i18n=blob.name, for=blob.name)= blob.label

mixin chimera-checkbox(blob)
  - const namespace = 'chimera-checkbox';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const attr = `attr_${blob.name}`;
  - const icon = blob.icon ?? 'checkbox';
  - const blobTitle = blob.title ?? blob.label;
  label(class=css, data-i18n-title=`${blob.name}_title`, title=blobTitle)
    .chimera-checkbox__field
      input(id=blob.name, name=attr, type='checkbox', value=blob.value)
      +chimera-icon({ name: blob.name, icon: icon, title: blob.title })
    span.chimera-checkbox__label(data-i18n=blob.name, for=blob.name)= blob.label

mixin chimera-hidden(field, value)
  input.chimera-hidden(name=`attr_${field}`, type='hidden', value=value)&attributes(attributes)

mixin chimera-arithmetic(blob)
  - const namespace = 'chimera-arithmetic';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const attr = `attr_${blob.name}`;
  - const blobTitle = blob.title ?? blob.label;
  - const inputClass = `${namespace}__field`;

  div(class=css)
    label.chimera-arithmetic__label(data-i18n=blob.name, for=blob.name)= blob.label
    button.chimera-arithmetic__add(name=`act_${blob.name}-add`, type='action')
      +chimera-icon({ icon: 'plus' })
    input(
      class=inputClass,
      data-i18n-title=`${blob.name}_title`,
      id=blob.name,
      max=blob.max,
      min=blob.min,
      name=attr,
      step=blob.step,
      title=blobTitle,
      type='number',
      value=blob.value
    )
    button.chimera-arithmetic__subtract(name=`act_${blob.name}-subtract`, type='action')
      +chimera-icon({ icon: 'minus' })

mixin chimera-input-element(blob)
  - const blobTitle = blob.title ?? blob.label;
  case blob.type
    when 'hidden'
      input(id=blob.name, name=blob.attr, type=blob.type, value=blob.value)&attributes(attributes)

    when 'textarea'
      textarea(
        class=blob.inputClass,
        data-i18n-title=`${blob.name}_title`,
        id=blob.name,
        name=blob.attr,
        title=blobTitle,
        type=blob.type
      )&attributes(attributes)

    when 'select'
      select(
        class=blob.inputClass,
        data-i18n-title=`${blob.name}_title`,
        id=blob.name,
        name=blob.attr,
        title=blobTitle
      )&attributes(attributes)
        each option, index in blob.options
          - const isSelected = index === 0 || option.value === blob.value || option.selected;
          option(data-i18n=option.name, selected=isSelected, value=option.value)= option.text

    when 'switch'
      +chimera-switch({ ...blob, title: blobTitle })

    when 'span'
      +chimera-span({ ...blob, title: blobTitle })(class=blob.inputClass)

    when 'number'
    when 'text'
    default
      - const placeholder = blob.placeholder ?? (blob.type === 'number' ? 0 : blob.label);
      input(
        class=blob.inputClass,
        data-i18n-placeholder=`${blob.name}_placeholder`,
        data-i18n-title=`${blob.name}_title`,
        id=blob.name,
        max=blob.max,
        min=blob.min,
        name=blob.attr,
        placeholder=placeholder,
        step=blob.step,
        title=blobTitle,
        type=blob.type,
        value=blob.value
      )&attributes(attributes)

mixin chimera-html-element(blob)
  //-

mixin chimera-icon(blob)
  - let { src, title } = assets[blob.icon];
  - let i18nTitle = blob.icon;
  -
    if (blob.title && blob.name) {
      title = blob.title;
      i18nTitle = blob.name;
    }
  img(data-i18n-title=`${i18nTitle}_title`, src=src, title=blob.title || title)&attributes(attributes)

mixin chimera-action(blob)
  - const namespace = 'chimera-action';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const actionClass = `${namespace}__field`;
  - const attr = `act_${blob.name}`;
  - const blobTitle = blob.title ?? blob.label;
  button(class=css, data-i18n-title=blob.name, name=attr, title=blobTitle, type='action')&attributes(attributes)
    //- +chimera-icon(blob)
    block

mixin chimera-input(blob)
  - const namespace = 'chimera-input';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const inputClass = `${namespace}__field`;
  - const attr = `attr_${blob.name}`;

  if blob.type === 'hidden'
    +chimera-hidden(blob.name, blob.value)

  else if blob.type === 'checkbox'
    +chimera-checkbox(blob)

  else if blob.type === 'arithmetic'
    +chimera-arithmetic(blob)

  else if blob.type === 'value'
    +chimera-value(blob)

  else if blob.type === 'toggle'
    +chimera-toggle(blob)

  else
    div(class=css)
      if blob.icon
        +chimera-icon(blob)

      if blob.label
        label.chimera-input__label(data-i18n=blob.name, for=blob.name)= blob.label

      if blob.labelOverride
        - const { key, label } = blob.labelOverride;
        label.chimera-input__label(data-i18n=key, for=blob.name)= label

      if blob.type
        +chimera-input-element({ inputClass, attr, ...blob })

      if blob.html
        +chimera-html-element({ inputClass, ...blob })

mixin chimera-value(blob)
  - const namespace = 'chimera-value';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const valueClass = `${namespace}__field`;
  - const attr = `attr_${blob.name}`;
  div(class=css)&attributes(attributes)
    if blob.labelOverride
      - const { key, label } = blob.labelOverride;
      label.chimera-value__label(data-i18n=key, for=blob.name)= label

    if blob.label
      - const datai18n = blob.name ?? blob.label.replace(/\s/g, '_').toLowerCase();
      label.chimera-value__label(data-i18n=datai18n, for=blob.name)= blob.label

    if blob.content
      span.chimera-value__value(data-i18n=blob.name)= blob.content

    else
      - const dynamic_i18n = blob.dynamic ? 'data-i18n-dynamic' : null;
      span.chimera-value__value(data-i18n-dynamic=dynamic_i18n, name=`attr_${blob.name}`)

mixin chimera-span(blob)
  - const namespace = 'chimera-span';
  - const css = blob.css ? buildCSS({ block: namespace, ...blob.css }) : namespace;
  - const attr = blob.content ? null : `attr_${blob.name}`;
  - const dynamic_i18n = blob?.dynamic ? 'data-i18n-dynamic' : null;
  span(data-i18n-dynamic=dynamic_i18n, name=attr)&attributes(attributes)= blob.content

mixin chimera-repeater(fieldset)
  block
  .chimera-repeater
    +chimera-hidden(`${fieldset}_empty`, 0).chimera-repeater--is-empty
    .chimera-repeater__empty
      - const emptyKey = `none_${fieldset}_repeating`;
      - const emptyHeader = `No ${fieldset.replace(/[-_]+/g, ' ')} saved.`;
      h2.chimera-repeater__empty-header(data-i18n=emptyKey)= emptyHeader
      span.chimera-repeater__empty-subtitle(data-i18n='click_add_to_add') Click +Add to load data.
    fieldset(class=`repeating_${fieldset}`)
      .chimera-repeater__content
        .chimera-repeater--edit(class=`${fieldset}--edit`)
          //- - console.log(`> EDIT ${fieldset}`);
          +chimera-block('edit', true)
        .chimera-repeater--delete(class=`${fieldset}--delete`)
          //- - console.log(`> DELETE ${fieldset}`);
          +chimera-block('delete', true)
        .chimera-repeater--view(class=`${fieldset}--view`)
          //- - console.log(`> VIEW ${fieldset}`);
          +chimera-block('view', true)

mixin chimera-repeater-simple(fieldset)
  .chimera-repeater--simple
    +chimera-hidden(`${fieldset}_empty`, 0).chimera-repeater--is-empty
    fieldset(class=`repeating_${fieldset}`)
      block
